/* Ensure the HTML body resets to '0', and hide any extra 'overflow' */
body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}
/* Set the map height to the full size of the browser window */
html, body, #map {
    height: 100%; /* Height is required for map div */
}
